<div class="card" tabindex="0">
	<div class="content">
		<img alt="restoran" loading="lazy" width="100" height="100"  />
		<table>
			<tr>
				<td>nama:</td>
				<td id="name" class="name"></td>
			</tr>
			<tr>
				<td>kota:</td>
				<td id="city"></td>
			</tr>
			<tr>
				<td>rating:</td>
				<td>
					<div class="stars-outer">
						<div class="stars-inner" id="stars-inner"></div>
					</div>
					<span class="number-rating" id="number-rating"></span>
				</td>
			</tr>
		</table>
	</div>
	<div id="description-container" class="description-container">
		<div class="a-container">
			<a id="a-detail" class="a-detail" aria-label="tampilkan detail restoran" tabindex="0" href="#">Detail</a>
		</div>
		<p id="description"></p>
	</div>
</div>
