<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
	<link rel="manifest" href="./app.webmanifest">
	<meta name="theme-color" content="#292d36" />
	<meta name="description" content="Aplikasi pencarian dan review warung Nusantara">
	<link rel="apple-touch-icon" href="./icons/maskable_icon_x192.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
	<title>Kuliner Nusantara</title>
</head>

<body>
	<a href="#main" class="skip-link" id="skip-link">Menuju ke konten utama</a>
	<header>
		<section class="sticky">
			<div class="inner">
				<button aria-label="tampilkan navigasi" class="menu" id="menu">☰</button>
				<h1 class="title">Review Warung Nusantara</h1>
			</div>
			<nav id="drawer">
				<ul>
					<li><a href="#/home">Beranda</a></li>
					<li><a href="#/favorite">Favorit</a></li>
					<li><a href="https://facebook.com/oets.man" target="_blank" rel="noopener">Tentang</a></li>
				</ul>
			</nav>
		</section>
		<section class="hero" id="hero">
			<!-- dynamic content -->
		</section>
	</header>
	<main id="main" tabindex="0">
		<!-- dynamic content -->
	</main>
	<footer>
		<p>by oets <span id="year"></span></p>
	</footer>
</body>
<script>
	document.querySelector("#year").innerText = '@' + new Date().getFullYear();
</script>

</html>