@import url('alertifyjs/build/css/alertify.min.css');
@import url('alertifyjs/build/css/themes/bootstrap.min.css');

// variables
$medium: 768px;
$large: 1024px;
$dark1: #1c1d21;
$dark2: #292d36;
$light1: #e7d86f;
$light2: #d7e0c3;
$light3: #acb992;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	// max-width: 1200px;
	margin: 0 auto;
	background-color: $dark1;
	color: $light1;

	.skip-link {
		margin: auto;
		position: absolute;
		top: -50px;
		background-color: #bf1722;
		color: white;
		padding: 8px;
		z-index: 100;
	}

	.skip-link:focus {
		top: 0;
	}
}

// header -> section -> sticky
.sticky {
	position: sticky;
	top: 0;
	z-index: 1;

	.inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $light1;
		background-color: $dark2;
		height: 50px;

		.menu {
			padding: 0 10px;
			font-size: 2em;
			background-color: $dark2;
			color: $light1;
			border: 0;
			height: 50px;
			width: 50px;
			cursor: pointer;

			& :hover {
				background-color: $light3;
				color: $light1;
			}
		}

		.title {
			font-size: 1.5em;
			font-weight: normal;
		}

		@media screen and (min-width: $medium) {
			& {
				flex-direction: column;
			}

			.title {
				line-height: 50px;
			}

			.menu {
				display: none;
			}
		}
	}

	nav {
		box-shadow: 6px 8px 5px rgba($color: $dark2, $alpha: 0.4);
		background-color: $dark2;
		width: 200px;
		position: absolute;
		-webkit-transform: translate(-250px, 0);
		transform: translate(-250px, 0);
		transition: transform 0.3s ease;

		ul {
			display: grid;

			li {
				border-bottom: 1px solid $light2;
				width: 100%;
				text-align: left;
				padding: 0 10px;
				height: 70px;
				line-height: 70px;

				a {
					padding: 20px 100px 20px 0;
				}

				button {
					color: $light1;
					text-decoration: none;
					cursor: pointer;
				}

				a {
					color: $light1;
					text-decoration: none;
					cursor: pointer;
				}

				&:hover {
					font-weight: bold;
					background-color: $light3;
				}
			}
		}

		&.open-nav {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
		}

		@media screen and (min-width: $medium) {
			position: static;
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			box-shadow: none;
			width: 100%;
			margin: 0 auto;
			background-color: $dark1;

			ul {
				grid-template-columns: 1fr 1fr 1fr;
				flex-direction: column;
				justify-content: center;
				max-width: 600px;
				margin: auto;

				li {
					display: inline;
					text-align: center;
					height: 44px;
					line-height: 44px;
					border: 0;

					a {
						padding: 15px 50px;
					}
				}
			}
		}
	}
}

// header -> section -> hero
.hero {
	background-color: $dark1;
	padding-bottom: 10px;
	display: flex;
	position: relative;
	width: 100%;
	height: 35vh;
	justify-content: center;
	align-items: center;

	picture   {
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			object-fit: cover;
			object-position: center;
		}
	}

	.hero-content {
		width: 100%;
		padding: 5px;
		background-color: rgba(32, 39, 32, 0.7);
		position: absolute;
		margin: auto;
		text-align: center;

		.hero-title {
			color: $light1;
			// text-shadow: 2px 2px 0px $light2;
			font-style: italic;
			font-size: 1.6rem;
			font-weight: 500;

			&::before,
			&::after {
				content: '~';
			}
		}

		.hero-subtitle {
			text-shadow: 2px 2px 4px $light2;
			font-variant: small-caps;
			color: $light1;
			font-size: 2rem;
			font-weight: 300;
			margin-top: 0.2rem;
		}
	}

	@media screen and (min-width: $medium) {
		& {
			height: 50vh;
		}

		.hero-content {
			.hero-title {
				font-size: 2rem;
			}

			.hero-subtitle {
				font-size: 2.5rem;
			}
		}
	}
}

.favorite-container {
	width: 100%;
	position: absolute;
	bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.rating {
		position: absolute;
		left: 0px;
		bottom: 7.5px;
		padding: 0 20px;

		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $dark2;
		box-shadow: 0.5px 0.5px 2px $light2;

		.stars-outer {
			position: relative;
			display: inline-block;
		}

		.stars-inner {
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			overflow: hidden;
			width: 0;
		}

		.stars-outer::before {
			content: '\f005 \f005 \f005 \f005 \f005';
			font-family: 'Font Awesome 6 Free';
			font-weight: 300;
			color: #ccc;
		}

		.stars-inner::before {
			content: '\f005 \f005 \f005 \f005 \f005';
			font-family: 'Font Awesome 6 Free';
			font-weight: 900;
			color: #f8ce0b;
		}

		.number-rating {
			margin-left: 10px;
		}
	}

	.favorite-btn {
		position: absolute;
		right: 20px;
		bottom: 0px;

		width: 55px;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $dark2;
		box-shadow: 0.5px 0.5px 3px $light2;

		//   position: fixed;
		border-radius: 50%;
		border: 0;

		font-size: 18px;
		color: $light1;
		cursor: pointer;

		&:hover {
			background-color: $dark1;
		}
	}
}

main {
	background-color: $dark1;

	h2 {
		padding: 10px 5px;
		border-bottom: 1px $light1 solid;
		border-top: 1px $light1 solid;
		text-align: center;
		font-weight: 300;
		font-size: 1.5em;
		margin-bottom: 5px;
	}

	.address,
	.categories {
		text-align: center;
		// margin: 10px 0;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 1600px;
		margin: auto;
		gap: 20px;
		padding: 20px;
		padding-top: 15px;

		@media screen and (min-width: $medium) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: $large) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		list-card {
			justify-self: center;
			text-align: center;
			width: 100%;
			max-width: 500px;
		}
	}
}

.detail-restaurant {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 1000px;
	margin: auto;

	h3 {
		font-weight: 400;
	}

	.foods,
	.drinks,
	.description {
		padding: 20px;
		text-align: justify;
	}

	@media screen and (min-width:$medium) {
		grid-template-columns: 1fr 1fr;

	}
}

.reviews-container {
	h3 {
		padding: 10px 5px;
		border-bottom: 1px $light1 solid;
		border-top: 1px $light1 solid;
		text-align: center;
		font-weight: 300;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	.reviews {
		padding: 20px;
		max-width: 1200px;
		margin: auto;

		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@media screen and (min-width:$medium) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width:$large) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.card-review {
			padding: 10px;
			background-color: $dark2;
			text-align: start;
			width: 100%;
			max-width: 500px;
			box-shadow: 0 2px 4px 0 $light3;

			div {
				margin-top: 5px;
				font-style: italic;
				font-weight: 100;
			}
		}
	}
}

.add-reviews {
	h3 {
		padding: 10px 5px;
		border-bottom: 1px $light1 solid;
		border-top: 1px $light1 solid;
		text-align: center;
		font-weight: 300;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	form {
		margin: auto;
		padding: 0 20px;
		width: 100%;
		max-width: 700px;
		color: $light1;

		input,
		label,
		textarea {
			display: block;
			width: 100%;
		}

		label {
			margin-top: 20px;
			margin-bottom: 5px;
		}

		input {
			height: 44px;
			line-height: 44px;
		}

		input,
		textarea {
			padding: 10px;
			font-size: 1em;
		}

		.buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 100%;
			align-content: space-around;
			column-gap: 20px;
			padding: 20px 0;

			button {
				cursor: pointer;
				border: none;
				line-height: 50px;
				height: 50px;
				background-color: $light3;
				box-shadow: none;
				border-radius: 5px;
				font-size: 1em;

				&:hover {
					background-color: $light2;
					font-weight: 700;
				}
			}
		}
	}

}

.no-restaurant {
	font-size: 1.3em;
	padding: 10px;
	margin: 20px;
	text-align: center;
	border: 1px solid $light2;
	box-shadow: 1px 1px 5px $light1;
	background-color: $light2;
	color: $dark2;
	border-radius: 5px;
	grid-column-start: 1;
	grid-column-end: 4;
}

footer {
	background-color: $dark2;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: small;
}